body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
     background-image:linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url("../images/BG.jpg");
    background-attachment: fixed;
    background-size: cover;
  
  }
  *{
   padding: 0;
   margin: 0;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }

  .iro{
position: absolute;
margin-top: 100px;
margin-left:-100px;

  }
  .gold{
    color: gold;
    font-weight: 200px;
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
    border-radius: 20px;
 background-color: rgb(197, 47, 1);
 width: 500px;
 position: absolute;
 margin-left: 450px;

 
  }
  .text{
    border-radius: 20px;
    width: 700px;
    font-size: 20px;
    font-weight: 590;
    position: absolute;
   padding: 20px;
   color: rgb(255, 38, 0);
   margin-left: 550px;
   margin-top: 150px;
   text-decoration: none;
   background-color: rgb(3, 0, 0);
  }
  .text:hover{
    color: black;
    background-color: rgb(255, 8, 0);
    transition: 0.5s;}
    .back{
        border-radius: 20px;
        width: 60px;
        font-size: 25px;
        font-weight: 200px;
        position: absolute;
       padding: 20px;
      color: rgb(114, 10, 10);
       margin-left: 1200;
       margin-top: 30px;
       text-decoration: none;
       background-color: goldenrod;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .back:hover{
        color: black;
        background-color: white;
        transition: 0.5s;}
 
